.fontBarrio
{
    font-family: 'Barrio', cursive;
}

.bg-img-gd
{
    background-image: url("../img/bg_gd.jpg");
}

.hide
{
    display: none;
}

.quadro-resposta
{
    min-height: 400px;
}

.card-small
{
    height: 22rem;
    width: 100%;
}